@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;500;600;700&display=swap');

.hidden{
    display: none;
}

body{
    background-color: antiquewhite;
    font-family: 'Raleway', sans-serif;
}

.title{
    font-size: 50px;
    text-align: center;
}

.login-form{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
    margin-bottom: 20px;
}

.form-create-project{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: auto;
    
}

#name, #description, #start_date, #end_date{
    margin-bottom: 20px;
    text-align: center;
    padding: 15px;
}

#owner{
    margin-bottom: 60px;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
}

#email, #password{
    margin-bottom: 10px;
}

.label-email-login, .label-password-login{
    margin-bottom: 20px;
    text-align: center;
}

.submit-login{
    width: 30%;
    margin: auto;
}

input{
    height: 35px;
    border-radius: 5px;
}

a{
    text-decoration: none;
    padding-right: 10px;
}

.tr-tr{
    padding: 10px;
}

#join{
    text-align: center;

}

thead{
    width: 10%;
}

.th-th{
    font-size: 15px;
    width: 10%;
}

/* .tr-tr{
    font-size: 20px;
} */

td{
    width:10%;
}

