block vars
html
  head    
    title ONG 
    link(rel="stylesheet" href="/css/style.css")
  body 
    nav
      if !userId
        a.nav-a(href="/login") Login
        a.nav-a(href="/register") Register
      if isOwner
        a.nav-a(href="/projects/create") Create Project
      if userId
        a.nav-a(href="/projects/list") Projects
        a.nav-a(href="/logout") Logout
    block content 

    script(type="module", src="/js/global.js")
    block script