extends ../layout

block content
    h1 New Project
    if error 
        p(class="error", style="color:red;")= error 
    form.form-create-project(action="/projects", method="post")
        label(for="name") Name
        input(type="text", name="name", id="name")
        label(for="description") Description
        textarea(name="description", cols="30", rows="10", id="description")
        label(for="start_date") Start Date
        input(type="date", name="start_date", id="start_date")
        abel(for="end_date") End Date
        input(type="date", name="end_date", id="end_date")
        label(for="owner") Select Company
        select(name="owner" id="owner")
            option(value="5") VolunteerHub 
            option(value="6") GlobalVolunteers
            option(value="7") HelpingHands
            option(value="12") Maikel
            option(value="14") Rainforest
        input(type="submit", value="Create New Project")
    