extends ../layout

block content 
    h1 Projects 
    if error 
        h2 No se ha podido recuperar el historial
    else if projects 
        ul 
            table 
                thead 
                    th Name:
                    th Description:
                    th Start Date:
                    th End Date:
                tbody
                    each project in projects 
                        tr
                            td= project.name
                            td= project.description
                            td= project.start_date
                            td= project.end_date