extends ../layout   
block vars
    - var userId = userId 
    - var isUser = isUser 
    - var isOwner = isOwner

block content
    h1 Iniciar Sesión
    if error 
        p(class="error")= error
    div
        form.login-form(action="/login", method="post")
            label.label-email-login(for="name") Email
            input(type="email", name="email", id="email")
            label.label-password-login(for="password") Password
            input(type="password", name="password", id="password")
            input.submit-login(type="submit", value="Login")
            
    div
        p You dont have an account?
        a(href="/register") Register