extends ../layout   
block vars
    - var userId = userId 
    - var isUser = isUser 
    - var isOwner = isOwner

block content
    h1.login-title LOGIN
    if error 
        p(class="error")= error
    div.login-div
        form.login-form(action="/login", method="post")
            label.label-email-login(for="name") EMAIL
            input(type="email", name="email", id="email")
            label.label-password-login(for="password") PASSWORD
            input(type="password", name="password", id="password")
            input.submit-login(type="submit", value="LOGIN")
            
    div.account-register
        p.register-p You dont have an account?
        a.register-a(href="/register") Register