extends ../layout
block vars
    - var userId = userId 
    - var isUser = isUser 
    - var isOwner = isOwner

block content
    h1.title-register Register
    if error 
        p(class="error")=error 

    div.register-div
     form.register-form(action="/register", method="post")
        label.label-name-register(for="name") Name 
        input(type="text", name="name", id="name")
        label.label-role-register(for="role") Role
        select#role-input( name="role")
            option(value='0', selected= true) -- Select --
            option(value='user', selected= false) user 
            option(value='organization', selected= false) organization 
        label#org_label.hidden(for="organization_name") Organization Name
        input#org_input.hidden(type="text", name="organization_name")
        label.label-email-register(for="email") Email
        input(type="email", name="email", id="email")
        label.label-password-register(for="password") Password
        input(type="password", name="password", id="password")
        label.label-password-confirm-register(for="passwordConfirm") Repeat Password
        input(type="password", name="passwordConfirm", id="passwordConfirm")
        input.button-class(type="submit", value="Register")